<div id="final_report" class="row">
  <h1>{{report.title}}</h1>
  <p><em>
    {{'HTML_REPORT.BY' | translate }} {{report.creator.name}},
    {{report.date | date: shortDate}}
  </em></p>
  <p><em>
    {{'HTML_REPORT.COMMISION_BY' | translate }} {{report.commissioner}}
  </em></p>

  <h2>{{'HTML_REPORT.HD_SUMMARY'| translate}}</h2>
  <div data-ng-bind-html="report.summary | txtToHtml"></div>

  <h2>{{'HTML_REPORT.HD_SCOPE' | translate }}</h2>
  <div data-ng-include data-src="'views/report/scope.html'"></div>

  <h2>{{ 'HTML_REPORT.HD_CRITERIA_REPORT' | translate }}</h2>
  <div data-ng-include data-src="'views/report/findings.html'"></div>

  <h2>{{'HTML_REPORT.HD_SAMPLE' | translate }}</h2>
  <div data-ng-include data-src="'views/report/sample.html'"></div>

  <div data-ng-if="report.specifics.trim()">
    <h2>{{'HTML_REPORT.HD_SPECIFICS' | translate }}</h2>
    <div data-ng-bind-html="report.specifics | txtToHtml"></div>
  </div>
</div>
